body{
    margin: 0;
    padding: 0;
    background-color: rgb(240, 232, 232);
}

#encabezado{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.menu_inicio{
    position:relative;
    padding: 10px 0px 10px 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;}

.menu_invisible{
    display:flex;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px rgb(147, 146, 146);
    border-radius: 30px;
}
    
.menu_invisible a{
    text-decoration: none;
    align-items: center;
    width: 100%;
    height: 10%;
    display:flex;
    text-decoration: none;
   
}
a img{
    padding:10px
}

.btn_inicio{
    padding: 10px 20px;
    cursor: pointer;
    height: auto;
}

.btn_inicio:hover{
    display:block;
}