*{box-sizing: border-box;
}

body {
  margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.3em;}
h3{ font-size: 1.5em;}
p{ font-size: 1.2em;}
ul{ list-style: none;}

button{
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 10px rgb(7, 185, 4);
  color: rgb(52, 44, 44);
  background-color: rgb(255, 0, 0);
  cursor: pointer;
}
button:hover {
  background-color: rgb(199, 19, 19);
}

span {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 20px solid rgb(255, 255, 255);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-radius: 3px;
  border-top-left-radius: 3px;
}


.menu {
  max-width: 1400px;
  margin: auto;
}


.menu nav a {
  margin-right: 50px; /* Espacio entre enlaces */
  text-decoration: none; /* Remover subrayado de enlaces */
  color: rgb(33, 129, 164);
  cursor: pointer;
}
/* Añadir subrayado al pasar el puntero */ 
.menu nav a:hover { 
  text-decoration: underline;
  font-weight: bolder; 
}

.menu img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; 
}



header {
  background-color: rgb(245, 245, 245);
}

.nombre {
  margin: 5px;
  padding: 5px 5px;
  font-weight: bold;
  color:blue;
  font-size: 3em;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}

.nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}

.a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black;

}
section{
  display: flex;
  min-height: 70vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  
 
  color: beige;
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  )
  ,url("IMG/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 15%;

}

footer {
  text-align: center;
}




.contenedor {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  flex-direction: column;
}

.columna {
  flex: 1;
}


.habilidades, .estudios {
  list-style-type: none;
  padding: 0;
}

.habilidad, .estudios li {
  display: flex;
  align-items:center;
  margin: 5px 0;
}

.barra-contenedor {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 100%;
}

.barra {
  flex: 1;
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.barra::after {
  content: '';
  display: block;
  height: 20px;
  background-color: #007bff;
  border-radius: 5px;
  width: inherit;
}

.porcentaje-texto {
  margin-left: 10px;
  font-weight: bold;
  white-space: nowrap;
}


